<div class="modal fade" id="birthdayModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Processing Birthday Message</h4>
            </div>
            <div class="modal-body">
                
                <form class="form-horizontal" name="birthdayForm" ng-submit="proccessMessage()" novalidate>

                    <div class="form-group">
                        <label for="telnum" class="col-sm-2 control-label">Full Name</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <p class="form-control-static">{{name}}</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Gift Type</label>
                        <div class="col-xs-5 col-sm-4 col-md-3">
                            <div class="input-group">
                                <select class="selectpicker" ng-model="selectedGiftType" ng-change="selectedGiftTypeChanged()" id="inlineFormCustomSelect">
                                    <option value="" selected>---Please select---</option>
                                    <option value="normal">Normal Gift</option>
                                    <option value="special">Special Gift</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="giftTypeSelected" class="col-xs-7 col-sm-6 col-md-7">
                            <label>Select Gift</label>
                                <select class="selectpicker" ng-model="selectedGift" ng-change="giftOptionChanged()" id="selectGift">
                                <option value="">--Please Select--</option>
                                <option ng-repeat="gift in gifts | filter: messageToProccess.giftType"  value="{{gift}}">{{gift.title}}</option>
                            </select>
                        </div>
                    </div>                     
                    <div ng-show="giftSelected" class="form-group">
                        <label for="feedback" class="col-sm-2 control-label">Message:</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">'Mate, Happy Birthday. To celebrate this once a year
                            occasion we have picked the following gift: {{selectedGiftTitle}}. Enjoy.'</p>
                            <img src="/{{selectedGiftImage}}" alt="{{selectedGiftName}}" style="max-width: 100px;">
                        </div>
                    </div> 
                    <div class="form-group text-right">
                        <div class="col-sm-offset-2 col-sm-10">

                        <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal">
                        <input type="submit" id="submit" value="Proccess" class="btn btn-primary" />
                        </div>
                    </div>
                </form>
        </div>
    </div>