
  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">
        <form ng-submit="login()" class="form" role="login">
          <img src="/images/acmemessaging.png" class="img-responsive" alt="" />
          <div class="form-group">
          <input type="email" name="email" placeholder="Email" id="username" required class="form-control input-lg" ng-model="loginCredentials.username" value="loginCredentials.username" />
          
          <input type="password" class="form-control input-lg" id="password" placeholder="Password" ng-model="loginCredentials.password" required/>
          </div>
          <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
          <div>
            <a href="#">Create account</a> or <a href="#">reset password</a>
          </div>
          
        </form>
        
        <div class="form-links">
          <a href="http://www.weconvene.com">weConvene</a>
        </div>
      </section>  
      </div>
      
      <div class="col-md-4"></div>
  </div>